@{
    ViewBag.Title = "Home Page";
}

 

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("ViewAllEmployee", "ViewAllEmployee", "Company")</li>
        <li>@Html.ActionLink("AddEmployee", "AddEmployee", "Company")</li>
        <li>@Html.ActionLink("AddDepartment", "AddDepartment", "Company")</li>


    </ul>
</div>