<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.demo5ConnectionString" connectionString="Data Source=DEL1-LHP-N82207\MSSQLSERVER01;Initial Catalog=demo5;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>