@model PartialView_Demo.Models.Employee
<div class="row">
    <div class="col-lg-6">
        <h2>@Model.Name</h2>
        <p>Id=@Model.Eid</p>
        <p>city=@Model.City</p>

    </div>
    <div class="col-lg-6">
        <p>hgcfhccfcfdsdf gygghg khv vvkh vkhvk hvk hvv vuhvhvutde6er 6tuygoy gouy o</p>

    </div>
</div>
