
 
<div class="row">
    
    <div class="col-lg-4">
        <p>@Model.Id</p>
    </div>
    <div class="col-lg-4">
        <p>@Model.Name</p>
    </div>
    <div class="col-lg-4">
        <p>@Model.Email</p>
    </div>
 </div>
